{{ $original := .Page.Resources.GetMatch (printf "%s.*" (.Get 0)) }}
{{ $alt := (.Get 1) }}
{{ $small := ($original.Resize (printf "%dx" (int (div $original.Width 4)))) }}
{{ $mid := ($original.Resize (printf "%dx" (int (div $original.Width 2)))) }}
{{ $full := ($original) }}
<figure style="display: inline-block; border: 1px solid; text-align: center;">
  <img srcset="{{ $small.RelPermalink }} {{$small.Width}}w, 
{{$mid.RelPermalink }} {{$mid.Width}}w, 
{{ $full.RelPermalink }} {{$full.Width}}w"
    sizes="{{$original.Width}}px"
    src="{{$original.RelPermalink }}"
    alt="{{ with $alt }} {{ . }} {{ end }}"
    style="vertical-align: top;" >
	<figcaption>
	<small>
	{{ with .Inner }} {{ . }} {{ end }}
	</small>
	</figcaption>
</figure>
